Repository applitools/eyes.sdk.javascript1, pull requests merged in 2023-05, with the labels that each got.

#1502 consider params from component
  js/packages/eyes-storybook/.eslintrc.json
  js/packages/eyes-storybook/src/eyesStorybook.js
  js/packages/eyes-storybook/src/getStoriesWithConfig.js
  js/packages/eyes-storybook/src/getStoryData.js
  js/packages/eyes-storybook/src/renderStories.js
  js/packages/eyes-storybook/src/renderStory.js
  js/packages/eyes-storybook/src/utils/prepare-settings.js
  js/packages/eyes-storybook/test/e2e/config-per-component.test.js
  js/packages/eyes-storybook/test/e2e/happy-config/simple.config.js
  js/packages/eyes-storybook/test/e2e/happy-config/wait-before-capture-component.config.js
  js/packages/eyes-storybook/test/e2e/snapshots/config-per-component.test.json
  js/packages/eyes-storybook/test/e2e/snapshots/wait-before-capture.e2e.test.json
  js/packages/eyes-storybook/test/e2e/wait-before-capture.e2e.test.js
  js/packages/eyes-storybook/test/fixtures/perComponentStorybook/config.js
  js/packages/eyes-storybook/test/fixtures/perComponentStorybook/index.js
  js/packages/eyes-storybook/test/fixtures/waitBeforeCaptureLocal/config.js
  js/packages/eyes-storybook/test/fixtures/waitBeforeCaptureLocal/index.js
  js/packages/eyes-storybook/test/fixtures/waitBeforeCaptureLocal/preview-body.html
  js/packages/eyes-storybook/test/it/getStoryData.it.test.js
  js/packages/eyes-storybook/test/it/renderStories.test.js
  js/packages/eyes-storybook/test/unit/getStoriesWithConfig.test.js
  js/packages/eyes-storybook/test/unit/getStoryData.test.js
  js/packages/eyes-storybook/test/unit/renderStory.test.js
  pending-changes.yaml
Labels: storybook

#1585 [java] layout breakpoints reload
  .github/actions/java/tests/action.yml
  .github/workflows/publish-java.yml
  .github/workflows/test-java.yml
  java/CHANGELOG.md
  java/coverage-tests/src/test/java/coverage/PlaywrightTestSetup.java
  java/coverage-tests/src/test/java/coverage/TestSetup.java
  java/eyes-universal-core/src/main/resources/runtimes/linux-x64/native/core-alpine
  java/eyes-universal-core/src/main/resources/runtimes/linux-x64/native/core-linux
  java/eyes-universal-core/src/main/resources/runtimes/linux-x64/native/core-linux-arm64
  java/eyes-universal-core/src/main/resources/runtimes/mac-x64/native/core-macos
  java/eyes-universal-core/src/main/resources/runtimes/win-x64/native/core-win.exe
  java/eyes.appium.java/src/main/java/com/applitools/eyes/appium/AppiumCheckSettingsMapper.java
  java/eyes.appium.java/src/main/java/com/applitools/eyes/appium/Eyes.java
  java/eyes.appium.java/src/test/java/com/applitools/eyes/appium/unit/TestAppiumCheckSettingsMapper.java
  java/eyes.images.java/src/main/java/com/applitools/eyes/images/universal/mapper/ImagesCheckSettingsMapper.java
  java/eyes.playwright.java/src/main/java/com/applitools/eyes/playwright/fluent/PlaywrightCheckSettings.java
  java/eyes.playwright.java/src/main/java/com/applitools/eyes/playwright/universal/mapper/PlaywrightCheckSettingsMapper.java
  java/eyes.sdk.core/src/main/java/com/applitools/ICheckSettings.java
  java/eyes.sdk.core/src/main/java/com/applitools/eyes/config/Configuration.java
  java/eyes.sdk.core/src/main/java/com/applitools/eyes/fluent/CheckSettings.java
  java/eyes.sdk.core/src/main/java/com/applitools/eyes/options/LayoutBreakpointsOptions.java
  java/eyes.sdk.core/src/main/java/com/applitools/eyes/universal/dto/CheckSettingsDto.java
  java/eyes.sdk.core/src/main/java/com/applitools/eyes/universal/dto/ConfigurationDto.java
  java/eyes.sdk.core/src/main/java/com/applitools/eyes/universal/dto/LayoutBreakpointsDto.java
  java/eyes.sdk.core/src/main/java/com/applitools/eyes/universal/mapper/ConfigurationMapper.java
  java/eyes.sdk.core/src/main/java/com/applitools/eyes/universal/mapper/LayoutBreakpointsMapper.java
  java/eyes.sdk.core/src/test/java/com/applitools/eyes/unit/TestLayoutBreakpointsMapper.java
  java/eyes.selenium.common/pom.xml
  java/eyes.selenium.java/src/main/java/com/applitools/eyes/selenium/fluent/SeleniumCheckSettings.java
  java/eyes.selenium.java/src/main/java/com/applitools/eyes/selenium/universal/mapper/CheckSettingsMapper.java
  java/pom.xml
Labels: java

#1590 [py] Add Get Execution Cloud Url to robot library
  python/eyes_robotframework/CHANGELOG.md
  python/eyes_robotframework/src/EyesLibrary/keywords/session.py
  python/tests/functional/eyes_robotframework/robot_tests/web_ec.robot
  python/tests/functional/eyes_robotframework/test_integration.py
  python/tests/unit/eyes_robotframework/keywords/test_session_keywords.py
Labels: python

#1591 [py] Layout Breakpoints reload option
  python/eyes_images/CHANGELOG.md
  python/eyes_images/applitools/common/__init__.py
  python/eyes_images/applitools/common/layout_breakpoints_options.py
  python/eyes_images/applitools/common/selenium/config.py
  python/eyes_images/applitools/selenium/fluent/selenium_check_settings.py
  python/eyes_images/applitools/selenium/schema.py
  python/eyes_images/applitools/selenium/schema_fields.py
  python/eyes_robotframework/CHANGELOG.md
  python/eyes_robotframework/src/EyesLibrary/applitools.yaml
  python/eyes_robotframework/src/EyesLibrary/config_parser.py
  python/eyes_robotframework/src/EyesLibrary/keywords/check_settings.py
  python/tests/unit/eyes_common/test_config.py
  python/tests/unit/eyes_robotframework/keywords/test_check_settings_keywords.py
  python/tests/unit/eyes_robotframework/test_config_parser.py
  python/tests/unit/eyes_selenium/test_schema.py
Labels: python

#1586 run universal server on the same process as cypress
  js/packages/core/package.json
  js/packages/core/src/automation/types.ts
  js/packages/core/src/cli/cli.ts
  js/packages/core/src/universal/core-server.ts
  js/packages/eyes-cypress/package.json
  js/packages/eyes-cypress/src/browser/commands.js
  js/packages/eyes-cypress/src/browser/spec-driver.ts
  js/packages/eyes-cypress/src/browser/transformCypressCheckSettings.ts
  js/packages/eyes-cypress/src/browser/transformCypressConfig.ts
  js/packages/eyes-cypress/src/expose.ts
  js/packages/eyes-cypress/src/plugin/handleTestResults.ts
  js/packages/eyes-cypress/src/plugin/index.ts
  js/packages/eyes-cypress/src/plugin/pluginExport.ts
  js/packages/eyes-cypress/src/plugin/server.ts
  js/packages/eyes-cypress/test/unit/browser/transformCheckSettings.test.js
  js/packages/ufg-client/package.json
  pending-changes.yaml
Labels: cypress
